/* EJERCICIO 1 
body{
	margin: 0;
	padding: 0;
}
.contenedor{
	margin: 0;
	padding: 0;
}
.caja{
	width: 200px;
	height: 200px;
}
#rosa{
	background-color: #EE3E64;
}
#azul{
	background-color: #2B7DB9;
}
#verde{
	background-color: #B7D84B;
}

*/
/*RETO 1*/
/*	margin: 0;
	padding: 0;
}
.contenedor{
	margin: 0;
	padding: 0;
}
.caja{
	width: 200px;
	height: 200px;
}
#rosa{
	background-color: #EE3E64;
}
#azul{
	position: relative;
	background-color: #2B7DB9;
	left: 200px;
}
#verde{
	background-color: #B7D84B;
}*/

/*DESAFIO 2*/
body{
	margin: 0;
	padding: 0;
}
.contenedor{
	margin: 0;
	padding: 0;
}
.caja{
	width: 200px;
	height: 200px;
}
#rosa{
	background-color: #EE3E64;
	position: absolute;
}
#azul{
	position: relative;
	background-color: #2B7DB9;
	left: 200px;
}
#verde{
	background-color: #B7D84B;
	position: absolute;
}




















